body {
  background-image: url('assets/code.jpg');
  background-size: cover;
}

a {
  color: dodgerblue;
  text-decoration: underline;
} a:hover {
  color: dodgerblue
}

img {
  height: 300px;
  width: auto;
}

.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}

@media screen and (max-width: 991.95px) {
  img {
    height: 350px;
  }
}

@media screen and (min-width: 767.95px) {
  #nav-item__1::after {
    content: '/';
    color: black;
  }
}