body {
  background-image: linear-gradient(to bottom right, #03a9f4, #4a00e0); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
img {
  height: 300px;
  width: auto;
}

textarea {
  resize: none;
}

.container > .row {
  height: 100vh;
}

#cv {
  border-right: 1px solid rgb(206, 206, 206);
}

section > .card {
  max-width:22rem; /* max cards width*/
}

@media (max-width: 991.95px) {
  img {
    height: 350px;
  }
}

@media (max-width: 575px) {
  #cv {
    padding-bottom: 2rem;
    border: none;
  }
}
