body {
  background-image: url('assets/code.jpg');
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: dodgerblue;
  text-decoration: underline;
} a:hover {
  color: dodgerblue
}

img {
  height: 300px;
  width: auto;
}

.collapse {
  -webkit-transition: none !important;
  transition: none !important;
}

.collapsing {
  -webkit-transition: none !important;
  transition: none !important;
  display: none !important;
}

@media screen and (max-width: 991.95px) {
  img {
    height: 350px;
  }
}

@media screen and (min-width: 767.95px) {
  .nav-item:not(#email)::after {
    content: '|';
    color: black;
    padding-right: 4px;
  }
}